# Prerequisites
*.d

# Compiled Object files
*.slow/desc.op
*.lowpi{.exe
*.o
*.object. file 1/.op

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*./help.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*Heagly_file{56162}.exe
*App.out
*HeaglyBot.app
